@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200;
}

@font-face {
    font-family: 'source-code-pro';
    src: url('/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-code-pro';
    src: url('/fonts/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
