@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:  #F8F8FF;
    
}

.div-seashell{
    background-color: white;
}

@font-face {
    font-family: 'source-code-pro';
    src: url('/fonts/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source-code-pro';
    src: url('/fonts/SourceCodePro-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


/*

background on top 
div on bottom

option1
background-color: #F8F8FF;
background-color: #FAFAFA;

option2





*/